<script language="javascript">
  $('#container').masonry({
itemSelector: '.box',
columnWidth: 100
});
</script>

<h1>Channels#index</h1>
<div id="container" class="clearfix">
<div class="box col1" >
What a wonderful tool this is. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
</div>
<div class="box col2">
That lays out my site so elegeantly
</div>
</div>

