<script language="javascript">
  $('#container').masonry({
itemSelector: '.box',
columnWidth: 100
});
</script>

<h1>Channels#index</h1>
<div id="container" class="clearfix">
<div class="box col5" >
<iframe width="450" height="250" style="border: 1px solid #cccccc;" src="https://api.thingspeak.com/channels/3/charts/1?round=2&timescale=60"></iframe>

</div>
<div class="box col5">
<iframe width="450" height="250" style="border: 1px solid #cccccc;" src="http://localhost:3001/channels/1/charts/1?timescale=120&days=2&yaxis=Level&xaxis=Date&title=Test"></iframe>
</div>
<div class="box col5">
<iframe width="450" height="250" style="border: 1px solid #cccccc;" src="http://localhost:3001/channels/1/charts/1?timescale=120&days=2&yaxis=Level&xaxis=Date&title=Test"></iframe>
</div>
</div>

